.landing{
    max-width: 1080px;
    margin: 0 auto;
    padding: 32px 23px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.slogan{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}
.about {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 32px;
    place-items: center;
}
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    justify-self: center;
}
.profile {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 16px;
    font-size: 16px;
}
.infoList {
    text-align: left;
}
.skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.skillGroup {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 10px;
}

.skillList {
    list-style: none;
    padding: 0 16px 0 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 88px;
}
.itemName {
    text-align: center;
}
.skillItem img {
    object-fit: contain;
}

.qualification {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 16px 0;
}

@media (max-width: 768px) {
    .about { flex-direction: column; text-align: center; }
}