.landing{
    max-width: 1080px;
    margin: 0 auto;
    padding: 32px 23px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.about {
    display: flex;
    align-items: center;
    gap: 24px;
}
.profile {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.skillGroup {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 10px;
}

.skillList {
    list-style: none; padding: 0; margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 88px;
}
.itemName {
    text-align: center;
}
.skillItem img {
    object-fit: contain;
}
@media (max-width: 768px) {
    .about { flex-direction: column; text-align: center; }
}