.app {
    min-height: 100vh;
    padding: 8px 32px 8px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 8px 32px 8px;
}

.menus {
    display: flex;
    gap: 24px;
}
